/* Dark blue header/navbar styling */
.navbar-default {
    background-color: #1e3a5f !important; /* Dark blue */
    border-color: #1e3a5f !important;
}

.navbar-default .navbar-brand {
    color: #ffffff !important;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #e0e0e0 !important;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #e0e0e0 !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.navbar-default .navbar-nav .dropdown-menu {
    background-color: #1e3a5f !important;
    border-color: #1e3a5f !important;
}

.navbar-default .navbar-nav .dropdown-menu > li > a {
    color: #ffffff !important;
}

.navbar-default .navbar-nav .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .dropdown-menu > li > a:focus {
    color: #ffffff !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.navbar-default .navbar-toggle {
    border-color: #ffffff !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff !important;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Hide Previous/Next and Edit links on homepage */
body.homepage .navbar-nav.navbar-right li:has(a[rel="prev"]),
body.homepage .navbar-nav.navbar-right li:has(a[rel="next"]),
body.homepage .navbar-nav.navbar-right li:has(a[href*="/edit/"]),
body.homepage .navbar-nav.navbar-right li:has(a[href*="edit/master"]),
body.homepage .navbar-nav.navbar-right li:has(a[href*="edit/main"]) {
    display: none !important;
}

/* Fallback for browsers that don't support :has() - hide the links directly */
body.homepage .navbar-nav.navbar-right a[rel="prev"],
body.homepage .navbar-nav.navbar-right a[rel="next"],
body.homepage .navbar-nav.navbar-right a[href*="/edit/"],
body.homepage .navbar-nav.navbar-right a[href*="edit/master"],
body.homepage .navbar-nav.navbar-right a[href*="edit/main"] {
    display: none !important;
}

/* Additional fallback: hide parent li elements */
body.homepage .navbar-nav.navbar-right li:has(a[rel="prev"]),
body.homepage .navbar-nav.navbar-right li:has(a[rel="next"]),
body.homepage .navbar-nav.navbar-right li:has(a[href*="edit"]) {
    display: none !important;
}
